.title{
    color:darkgreen;
    font:Georgia;
    text-align: center;
}

.sub-title{
    font:Georgia;
    text-align: center;
}

p{
    line-height: 25px;
}

.image{
    float:left;
    padding-right: 20px;
}

.lower{

    clear:left;
}

a:link:hover{
    text-decoration: underline;
}

a:link{
    text-decoration: none;
}


.upper-case{
    text-transform: uppercase;
}
