table {
    width: 90%;
    margin: auto;
}

table, th, td {
    border: 1px solid black;
}

th {
    color: red;
    font-size: 200%;
    padding: 10px;
}

td {
    color: blue;
    font-size: 100%;
    text-align: center;
}
