<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <form name="myForm">
            <label for="sinlgeSelect">Select the type of quote: </label>
            <select id="sinlgeSelect" ng-model="data.sinlgeSelect">
                <option value="option-1">Famous Quote</option>
                <option value="option-2">Movie Quote</option>
            </select>
        </form>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <button class="btn btn-primary btn-lg" ng-click="getQuote(data)">Get Quote</button>
    </div>
    <div class="col-md-4"></div>
</div>

<div class="row" ng-repeat="quote in quoteArray">
    <div class="col-md-1"></div>
    <div class="col-md-5">
        <h3>{{quote.quote}}</h3>
    </div>
    <div class="col-md-5">
        <h3>{{quote.author}}</h3>
    </div>
</div>