body {
    color: black;
}

.navbar li {
    display: inline-block;
    padding: 5px;
}

.welcome {
    text-decoration: underline;
}

.code-photo {
    max-width: 400px;
    /* float: left; */
}

.list {
    clear: both;
    padding-left: 35.5%;
    font-size: 20px;
}

.fake-link {
    text-decoration: underline;
    cursor: pointer;
    text-align: right;
    font-size: 25px;
}

.fake-link:hover{
    color: red;
    font-size: 35px;
}

img{
    margin: auto;
    display: block;
}

nav{
    text-align: right;
    background-color: lightgrey;
    padding: 3px;
}

.welcome,.list,.para {
    text-align: center;
}
